<div class="main-container">
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Ramenlogs</h1>
      <p>～ラーメン好きによる共有投稿～</p>
      <%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-danger' %>
    </div>
  </div>
</div>