<div>
  <%= link_to "投稿一覧", posts_path, class: 'btn btn-outline-secondary btn-sm' %>
  <%= link_to "投稿する", new_post_path, class: 'btn btn-outline-success btn-sm' %>
  <%= link_to "食べログ", "https://tabelog.com/", class: 'btn btn-outline-danger btn-sm', target: :_blank %>
</div>